numpy>=1.20.3
scipy>=1.6.3
jax>=0.7.0,<=0.9.0
jaxlib>=0.7.0
objax>=1.8.0
scikit-image>=0.20.0
utax>=0.0.2   # JAX utilities (convolution, interpolation, etc.)

# the following packages are optional (pay attention to the versions)
helens>=0.0.1   # JAX lens equation solver for some point source features
#jaxinterp2d  # not on PyPI; install manually: pip install git+https://github.com/adam-coogan/jaxinterp2d@master
#nifty>=9.1.0       # NOTE: in case nifty>=9.0.0 could not be installed, you can install nifty8 instead: nifty8>=8.5.7
#optax>=0.2.0        # for optimizers
#matplotlib>=3.7.0   # for plotting
#numpyro>=0.20.0     # for SVI and HMC sampling

# even more optional but useful packages are the following:
#jaxopt>=0.8.0       # for optimizers # WARNING: the package is not maintained anymore
#findiff==0.8.9      # for building matrix with finite difference coefficients
#tqdm>=4.61.0        # for progress bars with certain optimizers and samplers
#blackjax>=1.0.0     # for JAX-based HMC sampling
#emcee==3.0.2        # for Ensemble MCMC sampling
#lenstronomy>=1.9.0  # for Particle Swarm Optimization
#git+https://github.com/martin-millon/jax_cosmo.git #For cosmology calculation in Jax